<?xml version="1.0"?>
<configuration>

	<location path="UnesiDiskont.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>

	<location path="UnesiPice.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>

</configuration>
